.App {
  text-align: center;
}

.landing-page {
  width: 800px;
  height: 500px;
  background: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
}
.left {
  width: 350px;

  background: pink;
  /* overflow: auto;
    height: 300px; */
}

.right {
  width: 350px;
  background: #29b6f6;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
  overflow: auto;
  height: 300px;
}

.normal-nav {
  width: 200px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: #181818;
  padding-left: 10px;
  border-bottom: 3px solid transparent;
}

.normal-nav:hover {
  /* transform: translateY(-2px); */
  background: #00b3ff;
  border-left: 3px solid #000000;
}

.active-nav {
  background: #00b3ff;
  border-left: 3px solid #000000;
}
